@import "../../../styles/mixins";
@import "../../../styles/variables";

.slider__container {
  position: relative;
  background-color: #f0ffee;
}

.slider__wrapper {
  position: relative;
  width: 100%;
  position: relative;
  overflow: visible;

  .swiper {
    width: 100%;
    max-width: 1084px;
    margin: 0 auto;
    padding: 0 0 80px;

    @include respond("sm") {
      padding: 0 0 40px;
    }

    @include respond("md") {
      padding: 0 0 40px;
    }
  }
  .swiper-pagination-bullet {
    background-color: #23085a; // màu mặc định
    opacity: 1;
    width: 20px;
    height: 20px;
    margin: 0 6px !important;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #00953b !important; // màu khi active
    transform: scale(1.3);
  }

  .custom-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include respond("sm") {
      display: none;
    }

    @include respond("md") {
      display: none;
    }
    button {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #23085a;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #00953b;
      }

      &:focus {
        outline: none;
      }
    }
  }
  .swiper-wrapper {
    padding: 20px 0;
  }

  .card__image {
    display: block;
    padding: 0;
    img {
      width: 100%;
    }
  }
}
