@import "../../../styles/mixins";
@import "../../../styles/variables";

.footer {
  width: 100%;
  background-color: #00953b;
  padding: 75px 15px 30px;
  .region {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
  }
  .region-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond("sm") {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 16px;
    }

    @include respond("md") {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 16px;
    }
    .footer__left {
      .logo {
        display: flex;
        align-items: center;
        gap: 32px;
        img {
          width: 100px;
        }
        .name {
          color: #fff;
          font-size: 20px;
          position: relative;

          &::before {
            content: "";
            display: block;
            height: 28px;
            width: 1px;
            top: 50%;
            left: -16px;
            background: #fff;
            position: absolute;
            transform: translateY(-50%);
          }
        }
      }
    }

    .footer__mid {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color: #fff;
        gap: 16px;

        @include respond("sm") {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 4px;
        }

        @include respond("md") {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 4px;
        }
        li {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      a {
        color: #fff;
      }
    }

    .footer__right {
      ul {
        display: flex;
        align-items: center;
        gap: 16px;
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }

  .region-bottom {
    p {
      color: #fff;
      font-size: 12px;
    }
  }
}
