@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.section__resources {
  padding: 70px 0 80px;
  background-color: rgba(93, 235, 75, 0.1);

  .section__container {
    .section__title {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 20px;
      color: #23085a;
      font-size: 40px;
      line-height: 140%;
      text-align: center;
      margin-bottom: 60px;

      @include respond("sm") {
        font-size: 28px;
        margin-bottom: 40px;
      }

      @include respond("md") {
        font-size: 28px;
        margin-bottom: 40px;
      }
    }

    .section__wrapper {
      width: 100%;
      max-width: 1330px;
      margin: 0 auto;
      padding: 0 20px;

      .wrapper__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 120px 50px 120px 80px;
      }

      .wrapper__title {
        font-size: 40px;
        line-height: 125%;
        color: #23085a;
        margin-bottom: 25px;
      }

      .wrapper__description {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 12px;
      }

      ul {
        padding-left: 16px;

        li {
          list-style-type: disc !important;
          line-height: 1.4;
          font-size: 18px;
        }
      }

      .wrapper__btn {
        width: 220px;
        min-width: 220px;
        min-height: 50px;
        background-color: #23085a;
        border-radius: 25px;
        opacity: 1;
        padding: 5px 30px;
        margin-top: 20px;

        a {
          color: #fff;
          font-size: 16px;
        }
      }

      .resources__plus {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        @include respond("sm") {
          text-align: center;
        }

        @include respond("md") {
          text-align: center;
        }
        .resources__title,
        .resources__explore {
          font-size: 28px;
          color: #23085a;
          margin: 40px 0 20px;

          @include respond("sm") {
            margin: 0px 0 20px;
          }

          @include respond("md") {
            margin: 0px 0 20px;
          }
        }

        .resources__btn {
          min-width: 220px;
          min-height: 50px;
          font-size: 16px;
          text-align: center;
          background-color: #23085a;
          border: 0;
          border-radius: 25px;
          opacity: 1;
          transition: all 0.3s linear;
          cursor: pointer;

          @include respond("sm") {
            margin: 0px 0 40px;
          }

          @include respond("md") {
            margin: 0px 0 40px;
          }
          a {
            color: #fff;
          }

          &:hover {
            background-color: #5deb4b;
            color: #23085a;
            text-decoration: underline;
          }
        }

        .resources__menu {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 32px;
          width: 100%;
          max-width: 1160px;
          margin: 0 auto;
          padding: 0 0;

          @include respond("sm") {
            flex-wrap: wrap;
            gap: 16px;
          }

          @include respond("md") {
            flex-wrap: wrap;
            gap: 16px;
          }
          li {
            list-style-type: none !important;

            &:hover a {
              color: #5deb4b !important;
            }
          }
          a {
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}
